/*
1. Posicionamiento
2. Modelo de caja (Box modes)
3. Tipografia
4. Visuales
5. Misceláneos (otros)
*/

:root {
    /* Colors */
    --primary-orange: #F7931A;
    --secondary-orange: #B85600;
    --soft-orange: #FFE9D5;
    --primary-dark: #201E1C;
    --secondary-dark: #282623;
    --primary-grey: #6E6E6E;
    --secondary-grey: #949494;
    --soft-grey: #747272;
    --secondary-blue: #2976AE;
    --soft-blue: #E7F5FF;
    --just-white: #FFFFFF;
    --off-white: #FAF8F7;
    /* Font Size */
    --title-size: 2.4rem;
    --sub-title-size: 1.8rem;
    --text-size: 1.4rem;
    /* Font Weight */
    --title-weight: 700;
    --sub-title-weight: 700;
    --text-weight: 500;
    /* Font family */
    /* Import of Google Font  */
    --primary-font-family: 'DM Sans', sans-serif;
    --secondary-font-family: 'Inter', sans-serif;
    /* Font Style */
    --primary-font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--primary-font-family);
    font-style: var(--primary-font-style);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    min-width: 320px;
    height: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--primary-dark) 16.69%, var(--primary-orange) 100%);
}

.header__logo {
    /* width: 150px;
    height: 24px; */
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 50px auto 0;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    margin-bottom: 2.4rem;
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--just-white);
    line-height: 2.6rem;
}

.header__title-container p {
    color: var(--soft-orange);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    line-height: 1.8rem;
}

.header__title-container .header__botton {
    /* 1. Posicionamiento */
    /* Tamaño del contenedor */
    border: none;
    border-radius: 4px;
    width: 229px;
    height: 48px;
    /* 2. Modelo de caja (Box modes) */
    /* Centrar elemento flotante: left: 0; right: 0; margin: auto; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* Mitad del contenedor en la parte inferior: bottom: negarivo la mitad del height del contenedor; */
    bottom: -24px;
    /* 3. Tipografia */
    color: var(--primary-dark);
    font-size: var(--text-size);
    font-weight: var(--sub-title-weight);
    text-decoration: none;
    /* 4. Visuales */
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__botton .icon-displacement-down-arrow {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('../icon/displacement_down_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.main-exchange-container {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: var(--off-white);
}

.main-exchange-container .background-img {
    width: 195px;
    height: 195px;
    background-image: url('../img/bitcoin.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px auto 20px;
}

.main-exchange-container__title {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.main-exchange-container__title h2 {
    margin-bottom: 30px;
    color: var(--primary-dark);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    line-height: 2.6rem;
}

.main-exchange-container__title p {
    margin-bottom: 10px;
    color: var(--primary-grey);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    line-height: 1.8rem;
}

.slideshow-table {
    display: flex;
    width: 70%;
    max-width: 500px;
    height: 330px;
    margin: 30px auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: left;
}

.main-table-container {
    scroll-snap-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 300px;
    justify-content: left;
    /* border: 1px solid black; */
}

.main-table-container__title {
    font-size: var(--sub-title-size);
    font-weight: var(--sub-title-weight);
    margin: 10px;
    text-align: left;
}

.main-table-container__table {
    font-family: var(--secondary-font-family);
    margin: 0 auto;
}

.main-table-container__table td {
    background-color: var(--just-white);
}


.main-table-container__table .top-left {
    border-radius: 10px 0 0 0;
}

.main-table-container__table .top-right {
    border-radius: 0 10px 0 0;
}

.main-table-container__table .bottom-left {
    border-radius: 0 0 0 10px;
}

.main-table-container__table .bottom-right {
    border-radius: 0 0 10px 0 ;
}

.main-table-container__table .name {
    width: 18.0rem;
    min-width: 10rem;
    height: 3.9rem;
    color: var(--soft-grey);
    font-size: calc(var(--text-size) + 0.2rem);
    padding-left: 1rem;
}

.main-table-container__table .value {
    width: 9.5rem;
    height: 3.9rem;
    color: var(--primary-grey);
    font-size: calc(var(--text-size));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-table-container__table .value span {
    margin: 0;
}

.icon-price-down {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../icon/price_down_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icon-price-up {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../icon/price_up_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.main-table-container__update-date {
    display: inline-block;
    margin: 20px auto;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.coins .main-table-container__title {
    color: var(--secondary-orange);
}

.coins .main-table-container__update-date {
    background-color: var(--soft-orange);
}

.comission .main-table-container__title {
    color: var(--secondary-blue);
}

.comission .main-table-container__update-date {
    background-color: var(--soft-blue);
}

.main-features-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: var(--primary-dark);
    padding: 64px 0;
}

.main-features-container__logo-top {
    position: absolute;
    width: 37.5px;
    height: 24px;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-features-container__title {
    width: 90%;
    margin: 0 auto 24px;
    text-align: center;
    color: var(--just-white);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    line-height: 2.6rem;
}

.main-features-container__description {
    width: 90%;
    margin: 0px auto 32px;
    text-align: center;
    color: var(--secondary-grey);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    line-height: 1.8rem;
}

.main-features-container article {
    width: 85%;
    min-width: 288px;
    max-width: 360px;
    height: auto;
    margin: 10px auto;
    padding: 16px;
    background-color: var(--secondary-dark);
    border-radius: 4px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.main-features-container article h3 {
    margin: 10px 0;
    color: var(--just-white);
    font-size: var(--sub-title-size);
    font-weight: var(--sub-title-weight);
}

.main-features-container article p {
    color: var(--secondary-grey);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
}

.icon-clock {
    width: 2.0rem;
    height: 2.0rem;
    background-image: url('../icon/clock.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon-eye {
    width: 2.0rem;
    height: 2.0rem;
    background-image: url('../icon/eye.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon-dollar-sign {
    width: 2.0rem;
    height: 2.0rem;
    background-image: url('../icon/dollar_sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon-check {
    width: 2.0rem;
    height: 2.0rem;
    background-image: url('../icon/check_circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

.main-bitcoin-baby {
    width: 100%;
    height: calc(100vw * 387 / 320);
    /* max-width: 516px; */
    /* max-height: calc(516px * 387 / 320); */
    background-color: var(--primary-orange);
    background-image: url('../img/girl_bitcoin_3x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.main-bitcoin-baby h2 {
    position: relative;
    top: calc(100% * 64 / 387);
    text-align: center;
    color: var(--just-white);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
}

.main-plans-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--off-white);
    width: 100%;
    padding-bottom: 64px;
}

.main-plans-container__title {
    width: 90%;
    max-width: 400px;
    margin: 64px auto 0;
    color: black;
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    text-align: center;
}

.main-plans-container__description {
    width: 90%;
    max-width: 400px;
    margin: 24px auto 42px;
    color: var(--primary-grey);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    text-align: center;
}

.slideshow-plans-container {
    display: flex;
    width: 60%;
    max-width: 700px;
    height: 360px;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: left;
}

.slideshow-plans-container .plan {
    scroll-snap-align: center;
    position: relative;
    width: 60%;
    top: 20px;
    min-width: 190px;
    max-width: 250px;
    min-height: 260px;
    max-height: 300px;
    margin: 0 10px 20px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}

.plan__recommended {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: -15px;
    margin: 0 auto;
    width: 10.1rem;
    height: 3.1rem;
    background-color: var(--primary-orange);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font-family);
    font-size: calc(var(--text-size) - 0.2rem);
    font-weight: var(--sub-title-weight);
    color: var(--primary-dark);
}

.plan__title {
    text-align: center;
    padding: 31px 0 8px;
    font-size: var(--text-size);
}

.plan__price {
    font-size: calc(var(--text-size) * 4);
    font-family: var(--secondary-font-family);
    font-weight: var(--title-weight);
    text-align: center;
}

.plan__price .dollar-sign {
    position: relative;
    top: 15px;
    font-size: calc(var(--text-size) - 2px);
    font-style: normal;
    vertical-align: top;
}

.plan__description {
    width: 80%;
    max-width: 400px;
    margin: 16px auto;
    color: var(--primary-grey);
    font-size: calc(var(--text-size) - 0.2rem);
    font-weight: var(--text-weight);
    text-align: center;
}

.plan__boton__action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
    margin: 0 auto;
    width: 151px;
    height: 48px;
    border-color: var(--primary-orange);
    border-radius: 4px;
    font-size: var(--text-size);
    font-weight: var(--sub-title-weight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.icon-arrow-next {
    width: 2rem;
    height: 2rem;
    background-image: url('../icon/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icon-left-plans {
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 2rem;
    height: 2rem;
    background-image: url('../icon/displacement_left_arrow_plans.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icon-right-plans {
    position: absolute;
    right: -15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 2rem;
    height: 2rem;
    background-image: url('../icon/displacement_right_arrow_plans.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: var(--primary-orange);
    justify-content: center;
    color: var(--primary-dark);
}

.footer__social-media {
    padding: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.footer__social-media__list {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    line-height: 2.4rem;
    list-style-type: none;
}

.footer__social-media__list a {
    text-decoration: none;
    color: var(--primary-dark);
}

.footer__logo {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.footer__logo .img-logo {
    position: absolute;
    /* width: 37.5px;
    height: 24px; */
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.footer__logo p {
    position: relative;
    top: 60px;
    text-align: center;
}